// Specifics
$border-radius: pxToRem(8)
$color-border-alpha: rgba(255,255,255,0.5)
$color-popin-background: rgba(255,255,255,0.92)


$color-background: white
$color-text: #063431
$color-text-alt: #016F67

$heading-font-family: "Stolzl", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-border-bottom-width: 0
$header-background: none
$hero-background-color: none
$footer-background-color: none

$btn-color: $color-background
$btn-background: $color-text
$btn-hover-color: $color-background
$btn-hover-background: $color-text-alt
$btn-border-width: 0
$btn-border-radius: $border-radius
$btn-border-radius-desktop: $border-radius
$btn-min-width: 0
$btn-min-width-desktop: 0
$btn-text-transform: uppercase
$btn-font-weight: bold


$body-overlay-color: transparent

$body-size-desktop: pxToRem(16)
$body-line-height-desktop: pxToRem(24)

$h1-size-desktop: pxToRem(36)
$h1-line-height: 1

$h2-size-desktop: pxToRem(36)
$h2-line-height: 1

$h3-size-desktop: pxToRem(32)
$h3-line-height: 1

$h5-text-transform: normal
$h5-weight: bold

$block-features-icon-max-width: 100%