body
    font-weight: $body-weight


canvas
    position: fixed
    inset: 0

header
    pointer-events: none
    transform: none !important
    background: none !important
    nav
        .nav-level-1
            display: none !important
    .header-button
        display: none !important
    .logo
        position: absolute
        padding: pxToRem(15) pxToRem(20)
        border-radius: 0 0 pxToRem(8) pxToRem(8)
        background: var(--color-background)

        @include media-breakpoint-down(md)
            padding: pxToRem(15) pxToRem(10) pxToRem(5)
        
main
    padding-bottom: 0 !important

footer
    display: none !important

.document-content
    min-height: 100vh

#experience-container
    position: fixed
    margin-top: 0 !important
    inset: 0
    z-index: 20

#points-of-interest
    margin-top: 0 !important

.poi-button
    @extend .button
    @extend .button--small
    background: var(--color-background)
    display: flex
    align-items: center
    justify-content: center
    width: space(10)
    height: space(10)
    padding: 0
    text-align: center
    margin: space(-5)
    position: absolute
    cursor: pointer
    border-radius: 50%
    z-index: 10
    transition: opacity $color-duration
    &::after
        content: url(/assets/images/marker.svg)
        height: pxToRem(22)
        width: pxToRem(18)
        display: block
    &::before
        content: ''
        display: block
        position: absolute
        top: -10%
        left: -10%
        width: 120%
        height: 120%
        border-radius: 50%
        border: space(1) solid $color-border-alpha
        transition: $color-duration
        pointer-events: none
    &:focus
        background: white
    &:hover
        background: white
        &::before
            transform: scale(1.1)
            border: space(1.5) solid $color-text
    &.disabled
        opacity: 0
        pointer-events: none


%popup
    opacity: 0
    transition: 0.5s ease-in-out
    &:not(.is-opened)
        pointer-events: none
        img
            display: none
    &.is-opened
        transform: translate(0, 0)
        opacity: 1

.poi-popup
    @extend %popup
    --grid-gutter: #{$spacing-3}
    position: absolute
    display: flex
    border: var(--grid-gutter) solid transparent
    top: pxToRem(50)
    left: 0
    bottom: 0
    z-index: $zindex-modal + 1
    transform: translateX(-100%)
    opacity: 0
    transition: 0.5s ease-in-out
    .content
        position: relative
        width: columns(7)
        border-radius: $border-radius
        padding-top: pxToRem(30)
        padding-bottom: var(--grid-gutter)
        background: $color-popin-background
        height: 100%
        overflow-y: auto
        @include media-breakpoint-down(md)
            width: columns(12)
    .popup-close
        @include icon(close-line, before)
            font-size: pxToRem(22)
            line-height: 1
        background: var(--color-background)
        box-shadow: 0px 0px 0px 4px $color-border-alpha
        cursor: pointer
        position: absolute
        top: space(-3)
        right: space(-3)
        height: pxToRem(42)
        width: pxToRem(42)
        border: 0
        z-index: 5
        border-radius: 50%
        transition: $color-duration
        &:hover
            color: var(--color-background)
            background: var(--color-text)

.poi-introduction-popup
    @extend %popup
    position: fixed
    bottom: var(--grid-gutter)
    left: 0
    right: 0
    display: flex
    align-items: center
    justify-content: center
    z-index: $zindex-modal + 1
    transform: translateY(100%)
    .content
        background: $color-popin-background
        border-radius: $border-radius
        width: columns(8)
        box-shadow: 0px 0px 0px 4px $color-border-alpha
    .container
        padding: pxToRem(20) pxToRem(80) pxToRem(20) pxToRem(24)
        position: relative
        > * + *
            margin-top: $spacing-3
        &::after
            content: ''
            background-image: url(/assets/images/poly.png)
            background-color: $color-popin-background
            background-position: pxToRem(4) pxToRem(4)
            background-repeat: no-repeat
            background-size: 110%
            display: block
            position: absolute
            right: 0%
            top: 50%
            width: pxToRem(115)
            height: pxToRem(115)
            box-shadow: 0px 0px 0px 4px $color-border-alpha
            border-radius: 50%
            transform: translate(50%, -50%)
            z-index: 10
    @include media-breakpoint-down(md)
        bottom: 0
        .content
            width: 100%
            border-radius: 0
        .container
            padding-bottom: var(--grid-gutter)
            .title
                padding-right: pxToRem(30)
                + p
                    display: none
            &::after
                top: 50%
                right: pxToRem(10)
                transform: translate(0%, -50%)
                width: pxToRem(80)
                height: pxToRem(80)


html.has-modal-opened body::after
    display: none

// Blocks
.poi-popup
    .top-hero
        figure
            margin: pxToRem(20) 0
            padding: pxToRem(20) 0
            border-top: 1px solid $color-popin-border
            border-bottom: 1px solid $color-popin-border
            img
                border-radius: pxToRem(4)
    .container
        padding-left: $spacing-3
        padding-right: $spacing-3
    .poi-title
        margin-bottom: $spacing-3
    .block
        --block-space-y: #{$spacing-2}
    .block-gallery
        &--carousel
            background: transparent !important
            .slider figure picture img
                max-width: columns(5)
                object-fit: contain
    .block-video
        background: transparent !important
    .block
        .top
            display: block !important
    .block-features
        .block-content
            ul
                display: flex !important
                flex-direction: column
    .block-chapter
        .chapter
            flex-direction: column !important
            figure
                margin-top: $spacing-2
            *
                max-width: 100%
    .block-video
        .block-content
            display: block !important
            .video
                margin-bottom: $spacing-2
    .block-gallery
        &--grid
            .gallery
                display: flex !important
                flex-direction: column

#loader
    position: absolute
    inset: 0
    background: var(--color-background)
    z-index: 1000
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    img
        margin-bottom: $spacing-3
    p
        font-weight: bold
    .loader-bar
        height: 3px
        width: 150px
        background: $color-popin-border
        #loader-progress
            left: 0
            padding: auto
            top: 0
            height: 100%
            width: 0%
            background: var(--color-accent)
            transition: 0.1s width